<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>

    
    <!-- style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="chrome-extension://kapnjjcfcncngkadhpmijlkblpibdcgm/css/resizer.min.css"> -->
    <link rel="stylesheet" type="text/css" href="./assets/style/all.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.gridster/0.5.6/jquery.gridster.min.css">

    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://dsmorse.github.io/gridster.js/dist/jquery.gridster.min.js"></script>

    

    <script type="text/javascript">
            
        var gridster = null;
        $(document).ready(function () {
            gridster = $(".gridster ul").gridster({
                widget_base_dimensions: ['auto', 140],
                autogenerate_stylesheet: true,
                min_cols: 1,
                max_cols: 6,
                widget_margins: [5, 5],
                resize: {
                    enabled: true
                }
            }).data('gridster');
            $('.gridster ul').css({'padding': '0'});

        });

        

        //remove
        $(document).on('click', '.remove', function() {
            var gridster = $(".gridster ul").gridster().data('gridster');
            gridster.remove_widget( $(this).parent());
        });
        

    </script>
    
    
</head>

<body>
    <header class="main-header">
        <div class="container-fulid">
            <div style="display: flex;">
                <a href="#">
                    <img src="http://220.128.125.40/images/librenms_logo_light.svg" class="logo" alt="LibreNMS">
                </a>
                <nav class="main-nav">
                    <ul class="main-nav-list">
                        <li>
                            <a href="#"><i class="fa fa-university" aria-hidden="true"></i>資產管理</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-university" aria-hidden="true"></i>告警管理</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>統計分析</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-university" aria-hidden="true"></i>報表匯出 </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-university" aria-hidden="true"></i>系統權限</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-account">
            <ul class="account-lgoinBox">
                <li>
                <a href="index.html" class="login dropdown">
                    <i class="fa fa-user login" aria-hidden="true"></i>admin
                </a>
                <ul class="dropdown-open">
                    <li><a href="#">test3-1</a></li>
                    <li><a href="#">test3-2</a></li>
                </ul>
                </li>
            </ul>
            </div>
            <!-- <form class="header-search">
                <input type="search" name="" id="">
                <button><i class="fa fa-search"></i></button>
            </form> -->
        </div>
    </header>
    

    <%- contents %>

    
    
    

    
   
    

</body>
</html>
